<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let state of states" (click)="onSelect(state)" [class.table-dark]="selectedState === state">
            <td>{{state.id}}</td>
            <td>{{state.name}}</td>
        </tr>
    </tbody>
</table>

<app-germany-states-detail [selectedState]="selectedState" (resetEvent)="reset()"></app-germany-states-detail>